<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QLSach" connectionString="Data Source=DESKTOP-GIKJGC8;Initial Catalog=QLSach;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
	<system.windows.forms jitDebugging="true" />
</configuration>